

<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="transform: translateY(-23.5182px);"></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>Gremester</h2>
        <p>Find the right computer science graduate program for you.</p>
      </div>
    </div>
  </div>
</section>
