<%= stylesheet_link_tag 'sProfileNav' %>
<!--navigation-->
<div class="navbar navbar-inverse navbar-fixed-left ">

  <ul class="nav navbar-nav">
    <li><%= link_to "My Profile", profile_path(current_student.id), class: "nav-link"%></li>
    <% if !current_student.current_profile.blank? %>
      <li><%= link_to "My Applications", show_profiles_path(current_student.current_profile.id), :method => :get, class: "nav-link"%></li>
    <%end %>
    <li><%= link_to "Account Settings",  profile_path(current_student.id), :method => :get, class: "nav-link"%></li>
  </ul>
</div>
<!--end navigation-->
<!-- 1st section-->
