<%= stylesheet_link_tag 'sProfileNav' %>
<%= javascript_include_tag 'fstudentList' %>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<table id="dtOrderExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th class="th-sm">Name
    </th>
    <th class="th-sm">Undergrad College
    </th>
    <th class="th-sm">Research Area
    </th>
    <th class="th-sm">GPA
    </th>
    <th class="th-sm">GRE(Q)
    </th>
    <th class="th-sm">GRE(V)
    </th>
    <th class="th-sm">MS/PhD
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tiger Nixon</td>
    <td>University of Iowa</td>
    <td>Informatics</td>
    <td>3.56</td>
    <td>150</td>
    <td>141</td>
    <td>MS</td>
  </tr>
  <tr>
    <td>Garrett Winters</td>
    <td>University of Iowa</td>
    <td>Imaging</td>
    <td>3.79</td>
    <td>153</td>
    <td>139</td>
    <td>PhD</td>
  </tr>
  <tr>
    <td>Ashton Cox</td>
    <td>University of Minnesota</td>
    <td>Imaging</td>
    <td>4.0</td>
    <td>148</td>
    <td>149</td>
    <td>MS</td>
  </tr>
  </tbody>
</table>