
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= javascript_include_tag 'sAdmissionChance' %>
<!------ Include the above in your HEAD tag ---------->
<%= render "profiles/sProfileNav" %>
<div class="container">
  <h2>Calculate Admission Chance</h2>
    <table id="myTable" class=" table order-list">
      <thead>
      <tr>
        <th>University Name</th>
        <th>Admission Category</th>
        <th>Admission Chance</th>
      </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
      <tr>
      </tr>
      </tfoot>
    </table>

</div>
