#university_name {
    color: white;
    font-size: 50px;
    font-family: 'Karla', sans-serif;
    font-weight: bold
}

#label {
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    font-weight: bold
}

#university_rank, #university_acceptance_rate, #university_tuition, #university_location, #university_weather, #university_type, #university_desc {
    font-size: 25px;
    font-family: 'Karla', sans-serif;
}

#university_website {
    font-size: 25px;
}